<section class="index-page">
  <img class="avatar" src={{ imageUrl }}>
  <h1>Hello {{ username }}!</h1>

  <a class="btn" href="/user/profile">
    Profile
  </a>
  <a class="btn" href="/user/profile/settings">
    Settings
  </a>
  <a class="btn logout" href="/auth/logout">
    Log out
  </a>
</section>